.hidden {
  display: none;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0px;
}

.label-main-timer {
  font-size: 4em;
}

.label-lap-timer {
  font-size: 2em;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.laps-header {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.laps-container {
  width: 40%;
  height: 60%;
}

.lap {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.btn-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.button {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 20px 40px;
  color: white;
  background-color: rgb(153, 152, 152);
  margin: 4px;
}

.button:hover {
  background-color: rgb(128, 128, 128);
}

.btn-start {
  background-color: rgb(133, 100, 185);
}

.btn-start:hover {
  background-color: rgb(133, 80, 185);
}

.btn-stop {
  background-color: rgb(160, 50, 36);
}

.btn-stop:hover {
  background-color: rgb(130, 50, 36);
}

.btn-resume {
  background-color: rgb(133, 101, 185);
}

.btn-resume:hover {
  background-color: rgb(133, 80, 185);
}
